<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title | PropertyManagament</title>

    @Styles.Render("~/Content/bootstrap")
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/ng-grid")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/ng-grid")
    @Scripts.Render("~/bundles/app-controller")
    
</head>
<body data-ng-app='homeApplication' data-ng-controller='homeController'>
    <hr />
    @RenderBody()
    @RenderSection("scripts", required: false)
</body>
</html>

